.homeWrapper {
  position: relative;
}

.homeContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.homeContent {
  width: 100%;
  height: 100vh;
  background-color: transparent;
}

.fullName {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  font-family: var(--poppins-font);
  text-align: center;
}

.name {
  color: var(--red);
}

.jobName {
  display: flex;
  align-items: center;
  padding-top: 20px;
  font-size: var(--font-size-subtitle);
  font-weight: var(--font-weight-medium);
  font-family: var(--raleway-font);
  color: var(--white-light);
}

.typing {
  color: var(--red);
  display: block;
  border-right: 4px solid white;
  white-space: nowrap;
  overflow: hidden;
  width: 17ch;
  animation: typing 3s steps(17) infinite, blink 0.5s infinite step-end alternate;
  margin-left: 1rem;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}